<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <title>Application Error</title>
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <div class="alert alert-danger">
            <h1>Application Error</h1>
            <h2 th:text="${title}">Title</h2>
            <div id="created" th:text="${timestamp}">July 11, 2012 2:17:16 PM CDT</div>
            <div>
                There was an unexpected error (type=<span th:text="${error}">Bad</span>, status=<span th:text="${status}">500</span>).
            </div>
            <div th:text="${message}">No Message</div>
            <div th:text="${exception}">No exception</div>
            <div th:if="${user}" th:text="${user.userName}"></div>
            <div th:if="${user}" th:text="${user.email}"></div>
            <div th:if="${user}" th:text="${user.lastLogin}"></div>
            <div th:if="${url}" th:text="${url}">No url available</div>
            </div>
    </body>
</html>
