<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout">
<head>
<title>HOME</title>
</head>
<body>
    <div layout:fragment="content">
        <h1>Welcome You are logged in!</h1>
        <div id="created" th:text="${#dates.format(date)}">May 11, 2015</div>
    </div>
</body>
</html>
